.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top{
  max-height: 150px;
}
.align-center {
text-align: center;
}
.fs-10{
  font-size: 10px;
}
.carousel{
top: 45px;
}
.fs-13{
  font-size: 13px;
}
.main-relative{
  position: relative;
    top: 140px;
}

.fill-available {
  height: -webkit-fill-available;
}

.border-none {
  border: none
}
.border-none:focus {
  border: none
}

.transparent {
  background: transparent;
}
