
#barraNav{
    width: 50vw;
    height: 100vh;  
    position:fixed;
    background-color:#fe000d;
    top:8.3em;
    left: 0;
    margin-left: 0%; 
    z-index: 2; 
    
}

ul{
    list-style: none; 
}
.listNav {
    width: 100%;
    height:50%;
    color: aliceblue;
    text-decoration: none;
      
}
.containerNavList{
    padding: -3em;
    padding-left: 0;
    width: 50vw;
    height: 15vh;
    text-transform: uppercase;

}
.containerNavList a{
    box-shadow: -3px 0 rgba(255, 255, 255,.2);
    margin-bottom: 5px;
    padding-left: 1.5em;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.containerNavList a:hover{
    box-shadow: 15em 0 rgba(255, 255, 255,.2) inset;
}
.color{
    background-color: #fe000d; 
}
.cont-search-car{

    display: flex;
    justify-content: space-between;
}
.form-size{
    width: 70%;
    margin: 0 1em;

}

