/* --------------------------- Carousel --------------------------- */
 
.contmin {
    margin: auto;
}

#myCarousel {
  margin-bottom: 4rem;
  padding-top: 3rem;
}

.carousel-item {
  height: 34rem;
  /*background-color: #bebebe;*/
  background-color: transparent;
}

.carousel-control-next, 
.carousel-control-prev {
  top: 3rem;
  width: 10%;
}

/* ---------------------- Breakpoints for the Carousel ---------------------- */

/* --- EXtra small devices like phones - less than 360px --- */
@media (max-width: 359.9px) {
  .carousel-item {
    height: 8rem;
  }
}

/* --- Small devices like phones - starting at 360px ---*/
@media (min-width: 360px) {
  .carousel-item {
    height: 12rem;
  }
}

/* --- Medium devices like tablets - starting at 600px ---*/
@media (min-width: 600px) {
  .carousel-item {
    height: 20rem;
  } 
}

/* --- Medium devices like tablets - starting at 758px ---*/
@media (min-width: 758px) {
  .carousel-item {
    height: 24rem;
  } 
}

/* --- Tablets, Laptops - starting at 1024px ---*/
@media (min-width: 1024px) {
  .carousel-item {
    height: 28rem;
  }
}

/* --- Tablets, Laptops - starting at 1280px ---*/
@media (min-width: 1280px) {
  .carousel-item {
    height: 24rem;
  }
}

/* --------------------------- Carousel END --------------------------- */

.boxes {
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
  }
 #img:hover {
    color: rgb(19, 160, 49);
    text-decoration: none;
  }
  img {
    transition: ease-out 0.2s;
  }